body {
  background-image: url("/assets/red.jpg");
  background-color: turquoise;
 }

body{
  width: 100%;
  background-image: url("/assets/red.jpg");
  background-color: turquoise;
  background-position: center;
  background-size: cover;
  height: 300vh;
}

/* center signup form */
.signup-form {
    margin: 0 auto;
    width: 350px;
  }
  
  /* form input fields */
  .form-input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* form submit button */
  .form-submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .form-submit:hover {
    background-color: #3e8e41;
  }
  
  /* error message */
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* success message */
  .success-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
  }


  .container {
    max-width: 400px;
    margin: 0 auto;
    text-size-adjust: auto;
    font-size: 25px;
    padding: 50px;
    background-color: antiquewhite;
    margin-top: 120px;
  }
  
  .btn-primary{
    background-color: #4CAF50;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
  }
  
  .btn-signup:hover {
    background-color: #3e8e41;
  }